# Configuración del Entorno
GITHUB_TOKEN=Toke_personal_GitHub
GITHUB_USER=Usuario_GitHub
GITHUB_REPOS=Repo_GitHub
API_MAX_RETRIES=5
API_TIMEOUT_SECONDS=30.0
DATA_RAW_DIR=data/raw
DATA_STAGING_DIR=data/staging
DATA_WAREHOUSE_PATH=data/warehouse/analytics.duckdb
LOG_LEVEL=INFO