# Entornos virtuales
.venv/
venv/
ENV/
env/

# Cacho python y compilación
__pycache__/
*.py[cod]
*.$py.class
*.so
*.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Archivos de entorno y credenciales
.env
.env.local
.env.*.local
*.pem
*.key

# Almacenamiento local de datos (Data Lakehouse local)
data/raw/*
!data/raw/.gitkeep
data/staging/*
!data/staging/.gitkeep
data/warehouse/*
!data/warehouse/.gitkeep
*.parquet
*.duckdb
*.duckdb.wal

# Logs e IDEs
*.log
.vscode/
.idea/
.DS_Store
Thumbs.db
